<div class="services-section">
  <button class="back-btn " (click)="goBack()">&#8592; Back</button> <h2 class="services-heading">Our Services</h2>
    <div class="image-container">
      <img src="assets/service-image1.png" alt="Image 1" class="responsive-image">
      <img src="assets/service-image2.png" alt="Image 2" class="responsive-image">
      <img src="assets/service-image3.png" alt="Image 3" class="responsive-image">
      <img src="assets/service-image4.png" alt="Image 4" class="responsive-image">
    </div>
  </div>