.map-container {
  width: 100%; /* Full width of the parent */
  height: 300px; /* Set a fixed height for the map container */
  cursor: pointer;
  overflow: hidden; /* Ensure the image doesn't overflow during zoom */
  position: relative;
  border-radius: 8px;
  display: flex; /* Flex to center the image */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.map-container img {
  width: 100%; /* Image takes full width of the container */
  height: auto; /* Maintain aspect ratio */
  transform-origin: center; /* Scale from the center */
  animation: zoomInOut 5s ease-in-out infinite; /* Set animation duration */
}

/* Keyframes for zoom-in and zoom-out animation */
@keyframes zoomInOut {
  0% {
      transform: scale(1); /* Start at normal size */
  }
  60% {
      transform: scale(1.1); /* Slowly zoom in */
  }
  100% {
      transform: scale(1); /* Quickly zoom back to normal size */
  }
}