<header class="navbar navbar-expand-lg navbar-light header-container navbar-main">
  <div class="container-fluid">
    <!-- Brand Logo and Name -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/logo-2.png" alt="Brand Logo" class="brand-logo">
      <span class="company-name ms-2">RiGiD Jersey</span>
    </a>
    <!-- Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- <img class="menu-icon" src="assets/menu.svg" alt="Menu Icon"> -->
    </button>
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <!-- Navigation items will remain commented out -->
      </ul>
    </div>
  </div>
</header>