.header-container {
  background-image: linear-gradient(to right, #696868, #000000);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  /* Hidden state before loading */
  opacity: 0;
  transform: translateY(-20px); /* Slide up effect */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.header-container.loaded {
  /* Visible state after loading */
  opacity: 1;
  transform: translateY(0);
}

.brand-logo {
  width: 60px;
  height: auto;
  animation: heartbeat 4s ease-in-out infinite;
}

/* Company Name Styling */
.company-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap; /* Prevent text wrapping */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler .menu-icon {
  width: 25px;
}

.navbar-main {
  border-bottom: 2px solid rgb(249, 244, 244);
}

/* Responsive Design */
@media (max-width: 992px) {
  .company-name {
    font-size: 1.2rem;
  }
  .navbar-nav {
    text-align: center;
  }
}