<div class="page-container">
  <!-- Navigation Bar -->
  <nav id="nav" class="navbar" [class.scrolled]="isScrolled" [style.background-image]="isScrolled ? 'linear-gradient(to right, #696868, #000000)' : section=='servicesPage'||section=='gallery'? 'linear-gradient(to right, #696868, #000000)' : 'none'"
  [style.box-shadow]="isScrolled ? '0 2px 5px rgba(0, 0, 0, 0.1)' : 'none'"
  [style.opacity]="isScrolled ? '1' : '1'"
  (mouseover)="isHovered = true" 
  (mouseout)="isHovered = false">
    <div (click)="navigateTo('nav')" class="logo">
      <img src="assets/logo-2.png" alt="Brand Logo" class="brand-logo" />
      <span  class="heading">RIGIDJERSEY</span>
    </div>
    <ul class="nav-links" [class.active]="menuActive">
      <li>
        <a href="#nav" (click)="navigateTo('nav')">Home</a>
      </li>
      <li class="dropdown" [class.open]="isDropdownOpen">
        <a (click)="toggleDropdown()" class="dropbtn" aria-haspopup="true">Custom Jersey</a>
        <div class="dropdown-content">
          <!-- <a href="#services" (click)="navigateTo('services')">Services</a> -->
          <a href="#categories" (click)="navigateTo('categories')">Categories</a>
          <a href="#products" (click)="navigateTo('products')">Our Products</a>
          <a href="#sizeChart" (click)="navigateTo('sizeChart')">Size Chart</a>
          <a href="#layout" (click)="navigateTo('layout')">Layouts</a>
          <a href="#collar-types" (click)="navigateTo('collar-types')">Collar Types</a>
        </div>
      </li>
      <li class="dropdown" [class.open]="isDropdownOpenTeam">
        <a (click)="toggleDropdownforTeam()" class="dropbtn" aria-haspopup="true">Team Wear</a>
        <div class="dropdown-content-team">
          <div *ngFor="let team of teamList">
            <a (click)="onTypeClick(team)">{{ team.name }}</a>
            
          </div>
       
        </div>
      </li>
      <li class="dropdown" [class.open]="isDropdownOpenAcc">
        <a (click)="toggleDropdownforAcc()" class="dropbtn" aria-haspopup="true">Accessories</a>
        <div class="dropdown-content-acc">
          <div *ngFor="let team of accList">
            <a (click)="onTypeClick(team)">{{ team.name }}</a>
            
          </div>
       
        </div>
      </li>
     
      <li>
        <a  (click)="navigateTo('services')" (click)="sectionChange('servicesPage')">Services</a>
      </li>
      <li>
        <a href="#reviews" (click)="navigateTo('reviews')">Review</a>
      </li>
      <li>
        <a href="https://forms.gle/9egFHdPF3zzpJzrk9">Join Our Team</a>
      </li>
      
      <li>
        <a href="#map" (click)="navigateTo('map')">Contact</a>
      </li>
    </ul>
    <div class="burger-menu" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>

  <!-- Components -->
   <div *ngIf="section=='other'">
    <app-carousel id="home" class="carousel"></app-carousel>
    <app-our-products id="products" class="our-products"></app-our-products>
    <app-categories id="categories" class="categories"></app-categories>
        <!-- New Clients Section -->
  <div class="clients-section">
    <h2 class="clients-heading">Our Clients</h2>
    <img src="assets/clients.jpg" alt="Our Clients" class="responsive-client-image">
  </div>
  <app-gallary id="gallery" [backbtn]="false"  class="mb-3"></app-gallary>
  <div class="text-center">  <button (click)="sectionChange('gallery')" class="text-center view-all-button">View All</button></div>

    <!-- <app-services-page id="services" class="services-page"></app-services-page> -->
     <!-- How to Order Section -->
  <div class="how-to-order-section">
    <h2 class="order-heading">Steps To Place Order</h2>
    <div class="order-images">
      <img src="assets/howToOrder1.png" alt="Step 1" class="order-image">
      <img src="assets/howToOrder2.png" alt="Step 2" class="order-image">
    </div>
  </div>
    
    
   
  <div id="collar-types" class="collar-types" class="text-center">  
    <h2 class="collar-types-heading">Collar Types</h2>
    </div>
    <div  class="collar-types-container">
      
      <img src="assets/collar-types.jpg" alt="Collar Types" class="collar-types" />
    </div>
    <div id="layout" class="collar-types" class="text-center">  
      <h2 class="collar-types-heading">Layout</h2>
      </div>
      <div  class="collar-types-container">
        
        <img src="assets/layout.jpg" alt="Collar Types" class="collar-types" />
      </div>

    <app-size-chart id="sizeChart" class="size-chart"></app-size-chart>
    <app-map-section id="map" class="map-section"></app-map-section>
    <app-review-section id="reviews" class="review-section"></app-review-section>
    <app-footer id="footer" class="footer"></app-footer>
   </div>
   <div *ngIf="section=='servicesPage'">
    <app-services (navigateBack)="handleNavigateBack($event)"></app-services>
    <app-footer id="footer" class="footer"></app-footer>
   </div>
   <div *ngIf="section=='gallery'">
    <app-gallary [backbtn]="true" (navigateBack)="handleNavigateBack($event)" class="mb-3"></app-gallary>
    <app-footer id="footer" class="footer"></app-footer>
   </div>

  <!-- Scroll to Top Button -->
  <button *ngIf="showScrollToTop" class="scroll-to-top" (click)="scrollToTop()">
    ↑
  </button>

</div>

<!-- WhatsApp Chat Button -->
<div class="whatsapp-chat" (click)="openWhatsAppChat()">
  <img src="assets/whatsapp.png" alt="Chat with us" class="whatsapp-icon" />
  <span class="chat-text">&nbsp;Chat with us</span>
</div>