<div class="page-container">
  <!-- Navigation Bar -->
  <nav id="nav" class="navbar" [class.scrolled]="isScrolled" [style.opacity]="navbarOpacity"
  [style.background-image]="isScrolled ? 'linear-gradient(to right, #696868, #000000)' : section=='servicesPage'? 'linear-gradient(to right, #696868, #000000)' : 'none'"
  [style.box-shadow]="isScrolled ? '0 2px 5px rgba(0, 0, 0, 0.1)' : 'none'">
    <div (click)="navigateTo('nav')" class="logo">
      <img src="assets/logo-2.png" alt="Brand Logo" class="brand-logo" />
      <span  class="heading">RIGID JERSEY</span>
    </div>
    <ul class="nav-links" [class.active]="menuActive">
      <li>
        <a href="#nav" (click)="navigateTo('nav')">Home</a>
      </li>
      <li class="dropdown" [class.open]="isDropdownOpen">
        <a (click)="toggleDropdown()" class="dropbtn" aria-haspopup="true">Team Wear</a>
        <div class="dropdown-content">
          <!-- <a href="#services" (click)="navigateTo('services')">Services</a> -->
          <a href="#products" (click)="navigateTo('products')">Our Products</a>
          <a href="#sizeChart" (click)="navigateTo('sizeChart')">Size Chart</a>
        </div>
      </li>
      <li>
        <a  (click)="sectionChange('servicesPage')">Services</a>
      </li>
      <li>
        <a href="#reviews" (click)="navigateTo('reviews')">Review</a>
      </li>
      <li>
        <a href="#map" (click)="navigateTo('map')">Contact</a>
      </li>
    </ul>
    <div class="burger-menu" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>

  <!-- Components -->
   <div *ngIf="section=='other'">
    <app-carousel id="home" class="carousel"></app-carousel>
    <app-our-products id="products" class="our-products"></app-our-products>
    <app-categories id="categories" class="categories"></app-categories>
        <!-- New Clients Section -->
  <div class="clients-section">
    <h2 class="clients-heading">Our Clients</h2>
    <img src="assets/clients.jpg" alt="Our Clients" class="responsive-client-image">
  </div>
  <app-gallary class="mb-3"></app-gallary>
    <!-- <app-services-page id="services" class="services-page"></app-services-page> -->
     <!-- How to Order Section -->
  <div class="how-to-order-section">
    <h2 class="order-heading">How to Order</h2>
    <div class="order-images">
      <img src="assets/howToOrder1.png" alt="Step 1" class="order-image">
      <img src="assets/howToOrder2.png" alt="Step 2" class="order-image">
    </div>
  </div>
    
    <app-review-section id="reviews" class="review-section"></app-review-section>
    <app-size-chart id="sizeChart" class="size-chart"></app-size-chart>
  
    <app-map-section id="map" class="map-section"></app-map-section>
   
    <app-footer id="footer" class="footer"></app-footer>
   </div>
   <div *ngIf="section=='servicesPage'">
    <app-services (navigateBack)="handleNavigateBack($event)"></app-services>
    <app-footer id="footer" class="footer"></app-footer>
   </div>

</div>

<!-- WhatsApp Chat Button -->
<div class="whatsapp-chat" (click)="openWhatsAppChat()">
  <img src="assets/whatsapp.png" alt="Chat with us" class="whatsapp-icon" />
  <span class="chat-text">&nbsp;Chat with us</span>
</div>