<div class="admin-dashboard-container">
  <h2 class="text-center">Admin Dashboard</h2>
<!-- Subscriber download -->

  <!-- Loading Animation -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <!-- Add Category Section -->
  <section class="upload-section">
    <div class="d-flex justify-content-between">
      <div>
        <h3>Add Category</h3>
      </div>
      <div class="download-container">
        <h3 (click)="downloadSubscribers()" class="download-text">Subscriber Download 📥</h3>
      </div>
    </div>
   
    
    <form >
      <label>
        Type:
        <select #typeInput required>
          <option value="">Select a Type</option>
          <!-- Loop through the categories array to populate the options -->
          <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
        </select>
      </label>
      <label>
        Category Name:
        <input type="text" #categoryNameInput required />
      </label>
      <label>
        Description:
        <textarea #categoryDescriptionInput required></textarea>
      </label>
      <label>
        Category Image:
        <input type="file" #categoryImageInput accept="image/*" required (change)="onFileSelect($event, 'categoryImage')" />
      </label>
      <button  
       (click)="onAddCategorySubmit(categoryNameInput?.value || '', categoryDescriptionInput?.value || '', categoryImageInput?.files?.[0] || null, typeInput?.value || '',$event)" type="submit">Add Category</button>
    </form>
  </section>

<!-- Image Bulk Upload Section -->
<section class="upload-section">
  <h3>Image Bulk Upload</h3>
  <form (submit)="onImageBulkUploadSubmit($event)">
    <label>
      Type Filter:
      <select #typeInput2 (change)="onTypeChange(typeInput2.value)" required>
        <option value="">Select a Type</option>
        <!-- Loop through the categories array to populate the options -->
        <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
      </select>
    </label>
    <label >
      Category:
      <select [disabled]="!selectedType" #categoryInput required>
        <option value="">Select a category</option>
        <!-- Loop through the categories array to populate the options -->
        <option *ngFor="let category of categories2" [value]="category.name">{{ category.name }}</option>
      </select>
    </label>
    <label for="imageFileInput">
      Upload Zip File for Bulk Image Upload:
      <input type="file" #imageFileInput accept=".zip" (change)="onFileSelect($event, 'imageBulkUpload')" />
    </label>
   <label for="csvFileInput">
    Upload CSV File for Bulk Data Upload:
    <input type="file" #csvFileInput accept=".csv" (change)="onFileSelect($event, 'dataCsvUpload')" />
   </label>
    
    <button type="submit" >
      Upload Images
    </button>
  </form>
</section>
 <!-- Gallery Image Upload Section -->
<section class="upload-section">
  <h3>Gallery Image Upload</h3>
  <form (submit)="onGalleryImageUploadSubmit($event)">
    <label>
      Upload Gallery Image:
      <input type="file" #galleryImageInput accept="image/*" required (change)="onFileSelectGallery($event, 'galleryImage')" />
    </label>
    <button type="submit">
      Upload Gallery Image
    </button>
  </form>
</section>

  <!-- Update Banner Image Section -->
  <section class="upload-section">
    <h3>Update Banner Image</h3>
    <form (submit)="onUpdateBannerSubmit($event)">
      <label>
        Select Banner Index:
        <select #bannerIndexInput (change)="onBannerIndexChange(+bannerIndexInput.value)" required>
          <option value="">Select an Index</option>
          <option *ngFor="let index of [1, 2, 3, 4, 5]" [value]="index">Banner {{ index }}</option>
        </select>
      </label>
      <div *ngIf="selectedBannerIndex">
        <div class="image-preview-container">
          <div class="image-preview">
            <label>Laptop Preview:</label>
            <img [src]="'https://rigidjersey.com/backend-api/uploads/Banner_image/Desktop/banner' + selectedBannerIndex + '-desktop.jpg?timestamp=' + cacheBuster" alt="Laptop Banner Preview" />
          </div>
          <div class="image-preview">
            <label>Tablet Preview:</label>
            <img [src]="'https://rigidjersey.com/backend-api/uploads/Banner_image/Tablet/banner' + selectedBannerIndex + '-tablet.jpg?timestamp=' + cacheBuster" alt="Tablet Banner Preview" />
          </div>
          <div class="image-preview">
            <label>Mobile Preview:</label>
            <img [src]="'https://rigidjersey.com/backend-api/uploads/Banner_image/Mobile/banner' + selectedBannerIndex + '-mobile.jpg?timestamp=' + cacheBuster" alt="Mobile Banner Preview" />
          </div>
        </div>
        <label>
          Upload Laptop Image:
          <input type="file" #laptopImageInput accept="image/*" required (change)="onFileSelect($event, 'laptopImage')" />
        </label>
        <label>
          Upload Tablet Image:
          <input type="file" #tabletImageInput accept="image/*" required (change)="onFileSelect($event, 'tabletImage')" />
        </label>
        <label>
          Upload Phone Image:
          <input type="file" #phoneImageInput accept="image/*" required (change)="onFileSelect($event, 'phoneImage')" />
        </label>
      </div>
      <button type="submit" [disabled]="!selectedBannerIndex">Update Banner</button>
    </form>
  </section>

  <!-- priority section -->
  <section class="upload-section">
    <h3>Priority Update Section</h3>
    <form (submit)="onPrioritySubmit($event)">
      <div>
        <label for="priority">Priority value (higher value means higher priority):</label>
        <input type="number" min="-1" id="priority" [(ngModel)]="priorityValue" name="priority" required />
      </div>
      <div>
        <label for="uniqueCode">Unique Code:</label>
        <input type="text" id="uniqueCode" [(ngModel)]="uniqueCodeValue" name="uniqueCode" required />
      </div>
      <button type="submit" [disabled]="!uniqueCodeValue || priorityValue === null || priorityValue < 0">
        Update Priority
      </button>
    </form>
  </section>
</div>