<div class="admin-dashboard-container">
  <h2 class="text-center">Admin Dashboard</h2>

  <!-- Add Category Section -->
  <section class="upload-section">
    <h3>Add Category</h3>
    <form >
      <label>
        Category Name:
        <input type="text" #categoryNameInput required />
      </label>
      <label>
        Description:
        <textarea #categoryDescriptionInput required></textarea>
      </label>
      <label>
        Category Image:
        <input type="file" #categoryImageInput accept="image/*" required (change)="onFileSelect($event, 'categoryImage')" />
      </label>
      <button (click)="onAddCategorySubmit(categoryNameInput?.value || '', categoryDescriptionInput?.value || '', categoryImageInput?.files?.[0] || null,$event)" type="submit" [disabled]="!categoryNameInput.value || !categoryDescriptionInput.value || !categoryImageInput.files?.length">Add Category</button>
    </form>
  </section>

<!-- Image Bulk Upload Section -->
<section class="upload-section">
  <h3>Image Bulk Upload</h3>
  <form (submit)="onImageBulkUploadSubmit($event)">
    <label>
      Category:
      <select #categoryInput required>
        <option value="">Select a category</option>
        <!-- Loop through the categories array to populate the options -->
        <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
      </select>
    </label>
    <input type="file" #imageFileInput accept=".zip" (change)="onFileSelect($event, 'imageBulkUpload')" />
    <input type="file" #csvFileInput accept=".csv" (change)="onFileSelect($event, 'dataCsvUpload')" />
    <button type="submit" [disabled]="!isFileSelected('imageBulkUpload') || !isFileSelected('dataCsvUpload') || !categoryInput.value">
      Upload Images
    </button>
  </form>
</section>

  <!-- Single Catalog Submission Section -->
  <section class="catalog-section">
    <h3>Single Catalog Submission</h3>
    <form (ngSubmit)="onCatalogSubmit(nameInput.value, codeInput.value, descriptionInput.value)">
      <label>
        Name:
        <input type="text" #nameInput required />
      </label>
      <label>
        Code:
        <input type="text" #codeInput required />
      </label>
      <label>
        Description:
        <textarea #descriptionInput required></textarea>
      </label>
      <label>
        Image Upload:
        <input type="file" accept="image/*" (change)="onFileSelect($event, 'catalogImage')" />
      </label>
      <button type="submit" [disabled]="!isFileSelected('catalogImage')">Submit Catalog</button>
    </form>
  </section>
</div>