<section class="reviews-container">
  <h2 class="reviews-title">Customer Reviews</h2>
  <div class="row">
    <div class="review-card">
      <div class="rating">
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
      </div>
      <p class="review-text">"Best place for Custom Jerseys. Can manufacture any design you provide and send them
        on time using best quality. Been a regular customer for over a year now. Definitely worth the money"</p>
    </div>
    
    <div class="review-card">
      <div class="rating">
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
      </div>
      <p class="review-text">"The best jersey Shop.
        Printing's quality looks like international team jersey standard and fabric very soft.
        Thanks for custom our team jersey (Real madras Fc)"</p>
    </div>
    
    <div class="review-card">
      <div class="rating">
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
        <span class="star filled">★</span>
      </div>
      <p class="review-text">"Very legit, reasonably priced, good quality and an awesome service 👌👌👌 Highly recommended. We have ordered many jerseys and track suits for our Badminton club. The material is just great!!! …"</p>
    </div>
  </div>

  <!-- New Buttons Row -->
  <div class="review-buttons">
    <span><b>Already Our Customer?</b></span><button (click)="openRatingPage()" class="review-button"> Add Your Rating</button>
  </div>
</section>