.reviews-container {
  width: 100%;
  padding: 40px 20px;
  background-image: url('/assets/review-back2.jpg');
  background-size: cover; /* Ensures image covers the container */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* Avoid performance issues on mobile */
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

// .reviews-container::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
//   z-index: 1;
// }

.reviews-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  z-index: 2; /* Make sure title appears on top */
}

.row {
  display: flex;
  justify-content: space-between;
  z-index: 2; /* Ensure content is above overlay */
  width: 100%;
  max-width: 800px;
}

.review-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 2;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  font-size: 24px;
  color: #ccc;
}

.star.filled {
  color: #ffcc00;
}

.review-text {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  color: #333;
}

/* New review buttons section */
.review-buttons {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.review-button {
  background-color: #e50914; /* Red background */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.review-button:hover {
  background-color: #f44336; /* Slightly lighter red for hover effect */
}

/* Additional styling for mobile */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .review-card {
      margin-bottom: 15px;
  }

  .review-buttons {
      margin-top: 30px;
  }
}