.carousel-item {
  // height: 100vh;
  object-fit: cover;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.carousel-item.active {
  z-index: 1; /* Bring the active item to the foreground */
}

.carousel-item-next,
.carousel-item-prev {
  z-index: 0; /* Keep transitioning items in the background */
}