<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <picture>
            <source srcset="https://rigidjersey.com/backend-api/uploads/Banner_image/Desktop/banner1-desktop.jpg" media="(min-width: 1024px)" />
            <source srcset="https://rigidjersey.com/backend-api/uploads/Banner_image/Tablet/banner1-tablet.jpg" media="(min-width: 768px)" />
            <img src="https://rigidjersey.com/backend-api/uploads/Banner_image/Mobile/banner1-mobile.jpg" class="d-block w-100" alt="Banner 1" />
          </picture>
          <div class="carousel-caption d-none d-md-block">
            <!-- <h1>NEW ARRIVAL MAESTRO BLUE</h1> -->
            <!-- <p>Adult and junior size available</p> -->
          </div>
        </div>
      
        <div class="carousel-item">
          <picture>
            <source srcset="https://rigidjersey.com/backend-api/uploads/Banner_image/Desktop/banner2-desktop.jpg" media="(min-width: 1024px)" />
            <source srcset="https://rigidjersey.com/backend-api/uploads/Banner_image/Tablet/banner2-tablet.jpg" media="(min-width: 768px)" />
            <img src="https://rigidjersey.com/backend-api/uploads/Banner_image/Mobile/banner2-mobile.jpg" class="d-block w-100" alt="Banner 2" />
          </picture>
          <div class="carousel-caption d-none d-md-block">
            <!-- <h1>NEW ARRIVAL EURO 2024 BLVCKBOX EDITION</h1> -->
            <!-- <p>6 teams to choose from</p> -->
          </div>
        </div>
      
        <div class="carousel-item">
          <picture>
            <source srcset="https://rigidjersey.com/backend-api/uploads/Banner_image/Desktop/banner3-desktop.jpg" media="(min-width: 1024px)" />
            <source srcset="https://rigidjersey.com/backend-api/uploads/Banner_image/Tablet/banner3-tablet.jpg" media="(min-width: 768px)" />
            <img src="https://rigidjersey.com/backend-api/uploads/Banner_image/Mobile/banner3-mobile.jpg" class="d-block w-100" alt="Banner 3" />
          </picture>
          <div class="carousel-caption d-none d-md-block">
            <!-- <h1>NEW ARRIVAL MERDEKA EDITION</h1> -->
            <!-- <p>Adult and junior size available</p> -->
          </div>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>