<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/banner1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>NEW ARRIVAL MAESTRO BLUE
                    Adult and junior size available
                </h1>
                <p>Description for first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/banner22.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>NEW ARRIVAL EURO 2024 BLVCKBOX EDITION
                    6 teams to choose from
                </h1>
                <p>Description for second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/banner3.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>NEW ARRIVAL MERDEKA EDITION
                    Adult and junior size available
                </h1>
                <p>Description for third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>