<div class="catalog-details-container">
    <div class="catalog-header">
      <h1>{{ productDetails?.name }}</h1>
      <p class="catalog-description">{{ productDetails?.description }}</p>
    </div>
  
    <div class="catalog-image-container">
      <img [src]="convertImageUrl(productDetails?.image_url)" alt="Product Image" class="catalog-image" />
    </div>
  
    <div class="catalog-info">
      <div class="catalog-item">
        <h3>Unique Code:</h3>
        <p>{{ productDetails?.unique_code }}</p>
      </div>
      <div class="catalog-item">
        <h3>Category ID:</h3>
        <p>{{ productDetails?.category_id }}</p>
      </div>
    </div>
  
    <div class="enquire-now">
      <button class="enquire-button" (click)="onEnquireNow()">Enquire Now 📱💬</button>
    </div>
  </div>