<footer class="footer-container">
    <div class="container-fluid">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>About Us</h5>
          <p class="about-text">
            We are a passionate team dedicated to providing the best products and services for our customers. Join us on our journey!
          </p>
        </div>
        
        <!-- Newsletter Subscription -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>Subscribe to our Newsletter</h5>
          <form class="newsletter-form">
            <input type="email" class="form-control" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-subscribe">Subscribe</button>
          </form>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>Follow Us</h5>
          <div class="social-links">
            <a href="#" class="social-icon"><img src="assets/facebook.svg" alt="Facebook"></a>
            <a href="#" class="social-icon"><img src="assets/twitter.svg" alt="Twitter"></a>
            <a href="#" class="social-icon"><img src="assets/instagram.svg" alt="Instagram"></a>
            <a href="#" class="social-icon"><img src="assets/linkedin.svg" alt="LinkedIn"></a>
          </div>
        </div>
      </div>
  
      <!-- Additional Links -->
      <div class="row">
        <div class="col text-center">
          <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <p class="copyright">&copy; 2024 Your Company Name. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>