<footer class="footer-container">
    <div class="container-fluid">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>About Us</h5>
          <p class="about-text">
            We are a passionate team dedicated to providing the best products and services for our customers. Join us on our journey!
          </p>
        </div>
        
        <!-- Newsletter Subscription -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>Subscribe to our Newsletter</h5>
          <form class="newsletter-form" (ngSubmit)="subscribe()">
            <!-- Name Input -->
            <input 
              type="text" 
              class="form-control" 
              placeholder="Enter your name" 
              [(ngModel)]="name" 
              name="name" 
              required 
              #nameInput="ngModel" 
            />
            <div *ngIf="nameInput.invalid && nameInput.touched" class="error-message">
              <small *ngIf="nameInput.errors?.['required']">Name is required.</small>
            </div>
        
            <!-- Email or Mobile Number Input -->
            <input 
              type="email" 
              class="form-control" 
              placeholder="email or mobile " 
              [(ngModel)]="email" 
              name="email" 
              required 
              #emailInput="ngModel" 
            />
            <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
              <small *ngIf="emailInput.errors?.['required']">Email or mobile number is required.</small>
              <small *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</small>
            </div>
        
            <!-- Subscribe Button -->
            <button 
              type="submit" 
              class="btn btn-subscribe" 
              [disabled]="nameInput.invalid || emailInput.invalid"
            >
              Subscribe
            </button>
          </form>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>Follow Us</h5>
          <div class="social-links">
            <a href="https://www.facebook.com/rigid.fitt?mibextid=LQQJ4d" target="_blank" class="social-icon">
              <img src="assets/facebook.png" alt="Facebook">
            </a>
            
            <a href="https://wa.me/message/YZTK3KPNHNPTH1" target="_blank" class="social-icon">
              <img src="assets/whatsapp.png" alt="Whatsapp">
            </a>
            
            <a href="https://www.instagram.com/rigidjersey?igsh=MTA3cGF0OXdvZGJ0cw==" target="_blank" class="social-icon">
              <img src="assets/instagram.png" alt="Instagram">
            </a>
            
            <a href="https://www.youtube.com/@RIGID" target="_blank" class="social-icon">
              <img src="assets/youtube.png" alt="youtube">
            </a>
          </div>
        </div>
      </div>
  
      <!-- Additional Links -->
      <div class="row">
        <div class="col text-center">
          <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <p class="copyright">&copy; 2024 Your Company Name. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>