<footer class="footer-container">
    <div class="container-fluid">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>About Us</h5>
          <p class="about-text">
            At RIGIDJERSEY we specialize in premium custom sportswear and teamwear. With a commitment to quality, creativity, and on-time delivery, we cater to teams, and organizations worldwide. From design to delivery, we ensure a seamless experience tailored to your needs.
          </p>
        </div>
        
        <!-- Newsletter Subscription -->
        <div  *ngIf="!subscribed" class="col-lg-4 col-md-6 mb-4">
          <h5>Subscribe to our Newsletter</h5>
          <form class="newsletter-form" (ngSubmit)="subscribe()">
            <!-- Name Input -->
            <input 
          
              type="text" 
              class="form-control" 
              placeholder="Enter your name" 
              [(ngModel)]="name" 
              name="name" 
              required 
              #nameInput="ngModel" 
            />
        
        
            <!-- Email or Mobile Number Input -->
            <input 
           
              type="email" 
              class="form-control" 
              placeholder="Enter mobile " 
              [(ngModel)]="email" 
              name="number" 
              required 
              #emailInput="ngModel" 
            />
       
        
            <!-- Subscribe Button -->
            <button 
              type="submit" 
              class="btn btn-subscribe" 
              [disabled]="nameInput.invalid || emailInput.invalid"
            >
              {{subscribed ? 'Subscribed' : 'Subscribe'}}
            </button>
          </form>
        </div>
        <div  *ngIf="subscribed" class="col-lg-4 col-md-6 mb-4">
          <button 
              class="w-100 btn btn-subscribe" 
            >
              Subscribed 👍
            </button> 
            Thank you for subscribing we will let you know the updates.
          </div>
  
        <!-- Social Media Links -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>Follow Us</h5>
          <div class="social-links">
            <a href="https://www.facebook.com/rigid.fitt?mibextid=LQQJ4d" target="_blank" class="social-icon">
              <img src="assets/facebook.png" alt="Facebook">
            </a>
            
            <a href="https://wa.me/message/YZTK3KPNHNPTH1" target="_blank" class="social-icon">
              <img src="assets/whatsapp.png" alt="Whatsapp">
            </a>
            
            <a href="https://www.instagram.com/rigidjersey?igsh=MTA3cGF0OXdvZGJ0cw==" target="_blank" class="social-icon">
              <img src="assets/instagram.png" alt="Instagram">
            </a>
            
            <a href="https://www.youtube.com/@RIGID" target="_blank" class="social-icon">
              <img src="assets/youtube.png" alt="youtube">
            </a>
          </div>
        </div>
      </div>
  
      <!-- Additional Links -->
      <div class="row">
        <div class="col text-center">
          <ul class="footer-links">
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/terms-conditions">Terms Services</a></li>
            <li><a routerLink="/faqs">FAQs</a></li>
          </ul>
          <p class="copyright">&copy; 2024 Your Company Name. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>